@tailwind base;
@tailwind components;
@tailwind utilities;

.dp__input{
    padding: 7px 12px !important; 
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity))  !important;
}
